* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /*height: 100.1vh;*/
}
@font-face {
    font-family: MarkaziText;
    src: url(../fonts/MarkaziText-Regular.ttf);
}
@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {
    font-family: Gaegu;
    src: url(../fonts/Gaegu-Regular.ttf);
}
.get-it-now-button {
    font-family: Markazi Text;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    background-color: transparent;
    color: #fff;
    width: 400px;
    outline: none;
    cursor: pointer;
}
/* Styles of 1 section */
.section-1 {
    width: 100vw;
    height: 100.1vh;
    display: flex;
}
.main-container {
    width: 100%;
    background-image: url("../imgs/Intersection 1.png");
    background-size: cover;
    background-position: 10% 30%;
}
.main-container-shadow {
    width: 100vw;
    background-image: url('../imgs/Rectangle 10.png');
    height: 100vh;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}
.content-box {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.content-box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
.content-header {
    font-family: MarkaziText;
    text-align: center;
    border: 1px solid #fff;
    line-height: 0.7;
    width: 80vw;
}
.content-header h2 {
    font-size: 60px;
    font-weight: bold;
}
.content-header p {
    color: #fff;
    font-size: 120px;
}
.content-desc {
    text-align: center;
    font-size: 22px;
    align-self: center;
    width: 70vw;
    font-family: Roboto;
}
.content-box button {
    align-self: center;
}
.fa-chevron-down {
    font-size: 35px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}
/* Styles of 2 section */
.section-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #EBEBEB;
}
.section-header {
    font-family: Gaegu;
    align-self: center;
    width: 90vw;
    font-size: 32px;
}
.section-2-text {
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    color: #888888;
    font-size: 22px;
}
.section-2-img-container {
    width: 100vw;
    height: 80vh;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-right {
    width: 50vw;
    position: absolute;
    z-index: 5;
    right: 0;
    display: flex;
    justify-content: flex-start;
}
.img-right img {
    height: 0%;
}
.img-left {
    width: 50vw;
    position: absolute;
    bottom: 0;
    left: 15vw;
}
.section-2-img-container img {
    width: 100%;
}
/*Hide section of second section*/
.hide-section {
    height: 40vh;
    width: 100vw;
    background-color: #2b4e3f;
    display: none;
    justify-content: space-around;
    align-self: center;
    flex-direction: column;
    z-index: 5;
}
.hide-section-header-text {
    font-family: Markazi;
    font-size: 32px;
    text-align: center;
    color: #838E73
}
.hide-section p {
    font-family: Roboto;
    width: 60vw;
    text-align: center;
    align-self: center;
}
.desc-text-line {
    width: 60vw;
    margin: 0 auto;
    color: #EBEBEB;
    font-size: 18px;
}
.hide-section button {
    margin: 0 auto;
    background-color: #355A4B;
    color: #fff;
}
/* Styles of 3 section */
.section-3 {
    display: flex;
    width: 100vw;
    height: 100vh;
    font-family: Gaegu;
}
.main-section-container {
    background-color: #EBEBEB;
    width: 100vw;
    height: 100vh;
    display: flex;

}
.left-container {
    width: 60vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-container {
    width: 50vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80%;
}
.img-container img {
    width: 60vw;
}
.container-header {
    color: #000;
    font-size: 32px;
}
.container-text {
    margin: 10%;
    color: #888888;
    font-size: 22px;
}
/* Styles of 4 section */
.section-4 {
    width: 100vw;
    height: 100vh;
    display: flex;
    font-family: Gaegu;
}
.section-4 .main-container {
    background-image: url('../imgs/offer.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: flex-end;
}
.left-container-text-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30vw;
    height: 100vh;
    color: #fff;
    margin-right: 5vw;
}
.text-box-header {
    padding-top: 20vh;
}
.left-container-text-box p {
    font-size: 18px;
    padding-bottom: 15vh;
}
.left-container-text-box button {
    background-color: #fff;
    color: #393F1F;
}
/* Styles of 5 section */
.section-5 {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
}
.section-header {
    margin-top: 5vh;
}
.slider-container {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 100vh;
}
.slider-box {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: space-around;
}
.slider-select-box {
    width: 20vw;
    font-family: Gaegu;
    padding-top: 5vh;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}
.slider-select-box span {
    width: 50px;
    text-align: center;
    cursor: pointer;
    opacity: 0.5;
}
.slider-image-box {
    width: 70vw;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
.slider-front-image {
    width: 60%;
    position: absolute;
    height: 60vh;
    z-index: 3;
    display: flex;
}
.slider-image {
    height: 100%;
}
.slider-right-back-image {
    width: 50%;
    position: absolute;
    height: 50vh;
    z-index: 2;
    right: 0;
    display: flex;
    justify-content: center;
}
.slider-right-back-image img {
    opacity: 0.5;

}
.slider-left-back-image {
    width: 50%;
    position: absolute;
    height: 50vh;
    z-index: 2;
    left: 0;
}
.slider-left-back-image img {
    display: none;
    opacity: 0.5;
    width: 100%;
}
.right-arrow {
    width: 60px;
    height: 60px;
    z-index: 3;
    align-self: center;
    position: relative;
    right: 30px;
    cursor: pointer;
}
.left-arrow {
    width: 60px;
    height: 60px;
    z-index: 3;
    align-self: center;
    position: relative;
    left: 45px;
    cursor: pointer;
    display: none;
}


/* Styles of 6 section */
.section-6 {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.section-6 .main-container {
    background-image: url("../imgs/footer.png");
    background-position: 10% 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.main-box {
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.main-container-title {
    font-family: Markazi;
    font-size: 45px;
    color: #fff;
    font-weight: bold;
}
.main-container-text {
    font-family: Roboto;
    color: #fff;
    width: 70vw;
    text-align: center;
}
.main-container-text span {
    font-size: 22px;
    font-weight: bold;
}
.section-6 button {
    background-color: #355A4B;
    color: #fff;
}
.main-footer {
    height: 20vh;
}
.contact-box {
    background-color: rgba(255,255,255,0.5);
    width: 100vw;
    height: 85%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    font-family: Roboto;
    font-weight: bold;
    font-size: 14px;
}
.contact-list-container {
    display: flex;
    width: 30vw;
    justify-content: space-around;
}
.all-rights-box {
    background-color: #393F1F;
    width: 100vw;
    height: 15%;
    text-align: center;
    color: #fff;
}
.social-contact-box img {
    width: 40px;
    margin: 10px;
    cursor: pointer;
}